<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="signUp__wrapper" *ngIf="!isLoading">
    <div class="signUp__header">
        <p>Sign Up</p>
    </div>
    <div class="signUp__box">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form__fields">
                <input 
                    class="signUp__input" 
                    placeholder="Username" 
                    type="text"
                    ngModel
                    name="username"
                    >
                <input 
                    class="signUp__input" 
                    placeholder="Email" 
                    type="email"
                    ngModel
                    name="email"
                    required
                    email
                    >
                <input 
                    class="signUp__input" 
                    placeholder="Password" 
                    type="password"
                    ngModel
                    name="password"
                    required
                    minlength="6"
                    >
                <button 
                    class="submit__button" 
                    mat-button
                    type="submit"
                    [disabled]="!authForm.valid" 
                    >Sign Up</button>
            </div>
        </form>
    </div>
    <div class="switch__container">
        <p>Already have an account?</p>
        <a routerLink="/auth/login">
            Login
        </a>
    </div>
</div>