<app-loading-spinner *ngIf="!user"></app-loading-spinner>

<div *ngIf="user" class="user__wrapper">
    <div class="user__details">
        <div class="user__detailsRight">
            <img style="height: 200px; width: 200px; border-radius: 50%;" [src]="userImage" alt="">
        </div>
        <div class="user__detailsLeft">
            <div class="detailsLeft__top">
                <span class="username">{{ user.username }}</span>
                <a mat-stroked-button routerLink="user-edit">Edit Profile</a>
            </div>
            <div class="detailsLeft__center">
                <p *ngIf="posts" >{{ posts.length }} post </p>
                <button mat-button (click)="onFollowers()">{{ user.followers.length }} followers</button>
                <button mat-button (click)="onFollowings()">{{ user.followings.length }} following</button>
            </div>
            <div class="detailsLeft__bottom">
                <p>{{user.bio}}</p>
            </div>
        </div>
    </div>
    <hr>
    <app-loading-spinner *ngIf="!posts"></app-loading-spinner>
    <div *ngIf="posts" class="user__postList">
        <div *ngFor="let post of posts" class="user__post">
            <div class="image__box">
                <img id="image__previewed" src="{{serverDir}}{{post.imgUrl}}" alt="">
                <div class="buttons">
                    <button type="button" id="delete__button" mat-icon-button (click)="onPostOperation(post)">
                        <mat-icon svgIcon="more_vert"></mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

